.cor_fundo {
    overflow: hidden;
    background-color: #e3f2fd;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.container_itens {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    gap: 20px;
    justify-content: flex-end;
    width: 80%;
}

.corpo_itens {
    background-color: #ffffff;
    flex: 0 0 calc(50% - 20px);
    padding: 1%;
    border-radius: 5%;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
}

.corpo_itens:hover {
    transform: none; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.feature-icon {
    color: #007bff;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.titles {
    color: #1e83f0;
}

.titulos {
    flex-direction: column;
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: #242222;
    font-family: 'Arial', sans-serif;
    text-align: left;
    padding: 100px;
}

.subtitulos {
    color: #242222;
    margin-top: 70px;
    font-size: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
