
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.topbar_conteudo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    padding: 10px 30px;
    
    top: 0;
    width: 100%;
    z-index: 1000%;
    height: 50px;
    overflow: hidden;
    
}

@media (max-width: 768px) {
    .topbar_conteudo {
        height: 60px;  
        padding: 20px 10px; 
    }
}

